<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=0.3333333, maximum-scale=0.3333333, minimum-scale=0.3333333, user-scalable=no">
    <link rel="stylesheet" href="../dist/common.css?v=@{buildTime}@" type="text/css">
    <link rel="stylesheet" href="../dist/@{entryName}@.css?v=@{buildTime}@" type="text/css">
</head>
<body>
<div id="root"></div>
<script type="text/javascript" src="../dist/common.bundle.js?v=@{buildTime}@"></script>
<script src="../dist/@{entryName}@.bundle.js?v=@{buildTime}@"></script>
</body>
</html>